.sort-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
  height: 30px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.61);

  & h5 {
    font-family: $font-paragraph-reg;
    letter-spacing: 1.5px;
    cursor: pointer;
    transition: 0.2s;
  }

  & h5:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.2s;
  }

  .sorted {
    color: red;
    text-transform: uppercase;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  & h1 {
    font-family: $font-title;
    text-transform: uppercase;
  }

  & .student-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 40%;
    height: auto;

    border: 2px solid black;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.61);
    border-radius: 25px;
    padding: 5px;
    margin: 20px;
    transition: 0.3s ease-in-out;

    & .container-img {
      & img {
        height: 100px;
        width: 100px;
        border-radius: 20px;
      }
    }

    & .content-student {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 70%;

      & p {
        font-family: $font-paragraph-reg;
        letter-spacing: 1.8px;
      }
    }

    & .container-btn {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 20%;
      height: auto;
    }
  }
  & .student-container:hover {
    cursor: pointer;
    transform: scale(1.15);
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.936);
    color: white;
  }
}

.btn-showmore {
  background: transparent;
  border: 1px solid black;
  height: 35px;
  width: 120px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.61);
  transition: 0.2s ease-in-out;
  font-family: $font-paragraph-reg;
  font-weight: 700;
  letter-spacing: 1.8px;
  margin-top: 20px;
}

.btn-showmore:hover {
  cursor: pointer;
  transform: scale(1.08);
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.936);
}
