.save-btn {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #007adf 0%, #00ecbc 100%);
  border: 3px solid black;
  height: 38px;
  width: 120px;
  border-radius: 10px;
  box-shadow: -4px 4px 0px -3px rgba(0, 0, 0, 1);
  transition: 0.2s ease-in-out;
  font-family: $font-paragraph-reg;
  letter-spacing: 1.8px;
  margin-bottom: 10px;
  font-weight: 900;
  text-transform: capitalize;
}

.save-btn:hover {
  cursor: pointer;
  transform: scale(0.9) !important;
  color: whitesmoke;
  text-transform: uppercase;
  background-color: rgba(61, 223, 223, 0.936);
  border: 3px solid rgb(255, 255, 255);
  box-shadow: -4px 4px 0px -3px rgb(255, 255, 255);
}
