//* Fonts //
@font-face {
  font-family: "title";
  src: url("../../public/assets/fonts/Ojuju-Regular.ttf");
}
@font-face {
  font-family: "paragraph-reg";
  src: url("../../public/assets/fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: "paragraph-light";
  src: url("../../public/assets/fonts/Nunito-Light.ttf");
}

$font-title: "title";
$font-paragraph-reg: "paragraph-reg";
$font-paragraph-light: "paragraph-light";

//* ROOT //
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  user-select: none;
  background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
  height: 100vh;  
  overflow-x: hidden;
}
