main {
  height: auto; 
  width: 100vw;
  

  & h1 {
    text-align: center;
    font-family: $font-title;
  }

  & .container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}
